</div>
<footer class="container-fluid bg-light mt-5 fixed-footer">
	<div class="row">
		<div class="col-12">
			<p class="text-center m-0 p-2 poiret-600">DEO v1 @ 2017 Doglab Creations</p>
		</div>
	</div>
</footer>	
<style type="text/css">
	.fixed-footer{
	    position: fixed;
	    bottom: 0;
	}
</style>
</body>
</html>