<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.png" type="image/x-icon"/>
	<link rel="shortcut icon" href="/favicon.png" type="image/x-icon"/>
	<title>deo - ERP online</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/Chart.min.js"></script>
	<script type="text/javascript" src="/js/maskedinput.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	<script type="text/javascript">
	Date.prototype.monthNames = [
	    "Janeiro", "Fevereiro", "Março",
	    "Abril", "Maio", "Junho",
	    "Julho", "Agosto", "Setembro",
	    "Outubro", "Novembro", "Dezembro"
	];

	Date.prototype.getMonthName = function(x =0) {
	    return this.monthNames[this.getMonth() - x];
	};
	Date.prototype.getShortMonthName = function () {
	    return this.getMonthName().substr(0, 3);
	};
	</script>
</head>
<body>
	<ul class="text-center mb-5 p-3 bg-light header-fixo light-drop-shadow">
		<div class="dropdown dropdown2 d-none d-md-block dropdown-acesso mb-2 ">
			<li class="d-inline mx-3 dropdown-toggle" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Acesso rápido </li>
			<div class="dropdown-menu dropdown-menu-dog light-drop-shadow text-center" aria-labelledby="dropdownMenuButton4">
				<li class="d-inline dropdown-item2" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Adicionar cliente">
					<div class="big-on-hover d-inline-block">
						<a href="/cliente/new" class="mx-3" style="text-decoration: none"><i class="fa fa-plus"></i> <i class="fa fa-address-book-o"></i></a>
					</div>
				</li>
				<li class="d-inline dropdown-item2" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Ver clientes">
					<div class="big-on-hover d-inline-block">
						<a href="/cliente" class="big-on-hover mx-3" style="text-decoration: none"><i class="fa fa-search"></i> <i class="fa fa-address-book-o"></i></a>
					</div>
				</li>
				<li class="dropdown-item2 d-inline" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Adicionar produto">
					<div class="big-on-hover d-inline-block">
						<a href="/produto/new" class="big-on-hover mx-3" style="text-decoration: none"><i class="fa fa-plus"></i> <i class="fa fa-archive"></i></a>
					</div>
				</li>
				<li class="dropdown-item2 d-inline" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Ver produtos">
					<div class="big-on-hover d-inline-block">
						<a href="/produto" class="big-on-hover mx-3" style="text-decoration: none"><i class="fa fa-search"></i> <i class="fa fa-archive"></i></a>
					</div>
				</li>
				<li class="dropdown-item2 d-inline" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Adicionar pedido">
					<div class="big-on-hover d-inline-block">
						<a href="/pedido/new" class="big-on-hover mx-3" style="text-decoration: none"><i class="fa fa-plus"></i> <i class="fa fa-folder-o"></i></a>
					</div>
				</li>
				<li class="dropdown-item2 d-inline mr-5" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Ver pedidos">
					<div class="big-on-hover d-inline-block">
						<a href="/pedido" class="big-on-hover mx-3" style="text-decoration: none"><i class="fa fa-search"></i> <i class="fa fa-folder-o"></i></a>
					</div>
				</li>	
			</div>
		</div>
		<li class="d-sm-inline d-block mx-2"><a class="logo" style="font-family: 'Poiret One', cursive; font-size: 2em">deo</a></li>
		<li class="d-inline-block mx-2"><a href="/"><i class="fa fa-home"></i> Inicio</a></li>
		<li class="d-inline-block mx-2"><a href="/dashboard"><i class="fa fa-bar-chart"></i> Dashboard</a></li>
		<div class="dropdown d-inline dropdown-clientes">
			<li class="d-inline-block mx-3 dropdown-toggle" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-address-book-o"></i> Clientes </li>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				<li class="dropdown-item"><a href="/cliente/new"><i class="fa fa-address-book-o"></i> Cadastrar cliente </a></li>
				<li class="dropdown-item"><a href="/cliente/"><i class="fa fa-address-book"></i> Ver clientes </a></li>	
				<li class="dropdown-item"><a href="/segmento/new"><i class="fa fa-user"></i> Cadastrar segmentos </a></li>	
				<li class="dropdown-item"><a href="/segmento/"><i class="fa fa-users"></i> Ver segmentos </a></li>	
			</div>
		</div>
		<div class="dropdown d-inline dropdown-produtos">
			<li class="d-inline-block mx-2 dropdown-toggle" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-archive"></i> Produtos </li>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
				<li class="dropdown-item"><a href="/produto/new"><i class="fa fa-archive"></i> Cadastrar produto </a></li>
				<li class="dropdown-item"><a href="/produto/"><i class="fa fa-search"></i> Ver produtos </a></li>	
			</div>
		</div>
		<div class="dropdown d-inline-block  dropdown-categorias">
			<li class="d-inline mx-2 dropdown-toggle" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th"></i> Categorias </li>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
				<li class="dropdown-item"><a href="/categoria/new"><i class="fa fa-square-o"></i> Cadastrar categoria </a></li>
				<li class="dropdown-item"><a href="/categoria/"><i class="fa fa-th-large"></i> Ver categorias </a></li>		
			</div>
		</div>
		<div class="dropdown d-inline-block  dropdown-pedidos">
			<li class="d-inline mx-2 dropdown-toggle" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-folder-open-o"></i> Pedidos </li>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
				<li class="dropdown-item"><a href="/pedido/new"><i class="fa fa-folder-o"></i> Cadastrar pedido </a></li>
				<li class="dropdown-item"><a href="/pedido/"><i class="fa fa-folder-open-o"></i> Ver pedidos </a></li>		
			</div>
		</div>
	</ul>
	<div style="padding-top: 150px">