<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ERP online</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script src="https://use.fontawesome.com/82f7512523.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>
<body>
	<ul class="text-center mb-5 p-3 bg-light">
		<li class="d-inline mx-3"><a class="logo" style="font-family: 'Poiret One', cursive; font-size: 2em">deo</a></li>
		<li class="d-inline mx-3"><a href="/"><i class="fa fa-home"></i> Início</a></li>
		<li class="d-inline mx-3"><a href="/cliente/new"><i class="fa fa-address-book-o"></i> Cadastrar cliente</a></li>
		<li class="d-inline mx-3"><a href="/cliente/"><i class="fa fa-address-book"></i> Ver clientes</a></li>
		<li class="d-inline mx-3"><a href="/pedido/new"><i class="fa fa-folder-o"></i> Cadastrar pedido</a></li>
		<li class="d-inline mx-3"><a href="/pedido/"><i class="fa fa-folder-open-o"></i> Ver pedidos</a></li>
	</ul>