body{
    padding-bottom: 70px;
}
input {
    transition: all 0.5s;
}
a {
    color: #212529;
    transition: all 0.5s;
}
a:hover {
    color: #212529;
    filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.4));
}
.logo{
	filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.7))
}
.clientes-view{
    border: 1px solid rgba(52, 52, 52, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background-color: #f2f2f2;
    filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.3));
}
span.attr {
    background-color: #7f9ebc;
    border-radius: 5px;
    padding: 0px 10px 3px 10px;
    margin: 5px 20px 5px 0;
    display: inline-block;
}
.header-fixo{
    position: fixed;
    width: 100%;
    z-index: 999;
}
li {
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    font-size: 1.2em;
}
.poiret{
    font-family: 'Poiret One', cursive !important;
}
.poiret-600{
    font-weight: 600;
    font-family: 'Poiret One', cursive !important;
}
