<% include ../partials/header %>
<h2 class="text-center">Cadastrar novo cliente no ERP Online</h2>
<form class="mt-5" action="/cliente/new" method="POST">
	<div class="my-2 w-75 ml-auto mr-auto">
		<input type="text" name="nome" class="form-control" placeholder="Nome" required>	
	</div>
	<div class="my-2 w-75 ml-auto mr-auto">
		<input type="text" name="email" class="form-control" placeholder="Email" required>	
	</div>
	<div class="my-2 text-center ml-auto mr-auto">
		<input type="submit" name="Enviar" value="Enviar" class="btn btn-warning ml-auto mr-auto">
	</div>
</form>
<% include ../partials/footer %>