<% include ../partials/header %>
<h1 class="text-center">Seja bem vindo ao DEO, Dog ERP Online!</h1>
<p class="text-center">Um ERP em nuvem criado MEAN stack, tecnologia de ponta que fornece possibilidades ilimitadas.</p>
<% include ../partials/footer %>