<% include ../partials/header %>
<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="text-center display-3">Seja bem vindo.</h1>
			<p class="text-center">Conheça o ERP em nuvem criado com as tecnologias de programação mais atuais, rápidas e seguras.</p>
			<div class="text-center">
				<img class="img-fluid ml-auto mr-auto" src="/assets/men.jpg"></img>
			</div>	
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-12 mt-5 p-4" style="background: #cad5e0;">
			<div class="row">
				<div class="col-6 align-self-center">
					<h2 class="text-left">Veja todas as dependências deste projeto ao lado.</h2>
					<a class="btn btn-warning mt-4" href="https://github.com/mgcg12/cwb-erp" target="_blank"><i class="fa fa-github"></i> Ver no Github</a>
				</div>
				<div class="col-6">
					<code class="text-left">
					"dependencies": {<br />
					    <span class="ml-5">"body-parser": "^1.18.2",<br /></span>
					    <span class="ml-5">"bootstrap": "^4.0.0-beta.2",<br /></span>
					    <span class="ml-5">"ejs-html": "^4.0.3",<br /></span>
					    <span class="ml-5">"express": "^4.16.2",<br /></span>
					    <span class="ml-5">"express-sanitized": "^0.5.1",<br /></span>
					    <span class="ml-5">"fs": "0.0.1-security",<br /></span>
					    <span class="ml-5">"fs-extra": "^4.0.2",<br /></span>
					    <span class="ml-5">"method-override": "^2.3.10",<br /></span>
					    <span class="ml-5">"mongoose": "^4.13.5",<br /></span>
					    <span class="ml-5">"mongoose-auto-increment": "^5.0.1",<br /></span>
					    <span class="ml-5">"multer": "^1.3.0",<br /></span>
					    <span class="ml-5">"path": "^0.12.7",<br /></span>
					    <span class="ml-5">"underscore": "^1.8.3"<br /></span>
					  }
					</code>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>
</div>
<% include ../partials/footer %>