<% include ../partials/header %>
<h1 class="text-center">Seja bem vindo ao DEO, Dog ERP Online!</h1>
<p class="text-center">Um ERP em nuvem criado em MEAN stack, tecnologia de ponta que fornece possibilidades ilimitadas.</p>
<div class="text-center">
	<img class="img-fluid w-50 ml-auto mr-auto" src="/assets/mean.png"></img>
</div>
<% include ../partials/footer %>