<% include ../partials/header %>
<h2 class="text-center">Ver clientes</h2>

<div class="container">
	<div class="row">
		<% clientes.forEach(cliente => { %>
		<div class="col-12">
			<div class="clientes-view row">
				<div class="col-12 col-sm-4 d-inline"><span class="attr">Nome: </span><span><%= cliente.nome %></span></div>
				<div class="col-12 col-sm-4 d-inline"><span class="attr">Email: </span><span><%= cliente.email %></span></div>
				<div class="col-12 col-sm-4 d-inline text-center"><span class="attr" style="background: orange"><a href="/cliente/<%= cliente._id %>">Ver cliente</a></span></div>
			</div>
		</div>
		<% }); %>
	</div>
</div>

	


<% include ../partials/footer %>