<% include ../partials/header %>
<h2 class="text-center">Ver cliente individual</h2>

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="clientes-view row">
				<div class="col-12 col-sm-4 d-inline"><span class="attr">Nome: </span><span><%= cliente.nome %></span></div>
				<div class="col-12 col-sm-4 d-inline"><span class="attr">Email: </span><span><%= cliente.email %></span></div>
				<a href="/cliente/<%= cliente._id %>/edit" class="btn btn-warning mr-3">Editar cliente</a>
				<form action="/cliente/<%= cliente._id %>?_method=DELETE" method="post">
					<input class="btn btn-warning" type="submit" name="Deletar cliente" value="Deletar cliente">
				</form>
			</div>

		</div>
	</div>
</div>

	


<% include ../partials/footer %>